#footer {


    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    bottom: 0px;
    z-index: -1;
}
#logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
#dog-photo {
    margin: auto;
    display: block;
    border-radius: 40px;
    width: 50%;

}
#dog-photo-div{
    margin:auto;
}