<footer class="bd-footer text-muted bg-light">
    <div class="container-fluid p-md-5">
      <ul class="bd-footer-links">
        
      </ul>
      <p>Built with ❤️ <a href="/docs/4.5/about/team/">Yajat Gulati</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
      <p>Currently v4.5.2. Code licensed <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
    </div>
  </footer>